/**
 * General overrides
 */
button,
button.button {
    margin-bottom: 0;
}

nav {
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    margin-bottom: 10px;
}

/**
 * DA
 */
.da-widget .row {
    margin-bottom: 20px;
}
.da-widget .column {
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.da-column-header {
    border-bottom: 1px solid #E7E7E7;
    padding-top: 10px;
    text-align: center;
}

.da-widget-form {
    padding: 10px;
}

.da-update-preview {
    border-top: 1px solid #E7E7E7;
    padding: 10px;
    text-align: right;
}


.da-preview-canvas {
}

.da-widget-main-controls .column {
    padding: 10px;
    text-align: right;
}