body {
	background-image: url('2.jpg');
	background-repeat: no-repeat;
	font: 180%/0.0 "Roboto", Verdana, sans-serif;
	font-family: Roboto, Verdana, sans-serif;
	color: #fbcab3;
	vertical-align: center;
}
.awe {
	margin: 0px 32% 0px 37%;
	padding: 3% 15% 3% 15px;
}
.new {
	padding: 10% 15% 10% 37%;
}