
body {
	background-image: url('2.jpg');
	background-repeat: no-repeat;
	font: 180%/0.0 "Roboto", Verdana, sans-serif;
	font-family: Roboto, Verdana, sans-serif;
	color: #fff;
	vertical-align: top;
}
.grid {
	margin: 0px 31% 0px 35%;
	/*color: #fff;*/
}
.hero {
	padding: 15% 0% 3% 0px;
}
.new {
	padding: 5% 5% 5% 15%;
}